.catalogItemPage {
  width: 90%;
  overflow-x: hidden;
  padding-top: 12vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  height: 100%;
}
.catalogItemPage .catalogItemPage__productsContent {
  width: 75%;
  padding: 2% 3%;
}
.catalogItemPage .catalogItemPage__productsContent .productsContent__title {
  font-size: 5vh;
  letter-spacing: 3px;
  font-weight: 300;
  margin-bottom: 5vh;
}
.catalogItemPage .catalogItemPage__productsContent .productsContent__itemCatalog {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}