.catalogItemPage {
  width: 100%;
  overflow-x: hidden;
  padding-top: 10vh;
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  height: 100%;
}
.catalogItemPage .catalogItemPage__productsContent {
  width: 65%;
  border: 1px solid yellow;
}