.contactsMain {
  padding: 15vh 0 5vh 0;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contactsMain .contactsMain__asideArticle {
  width: 60%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 1px;
  font-size: 2.5vh;
  font-weight: 300;
}
.contactsMain .contactsMain__asideArticle .asideArticle__title {
  font-size: 7vh;
  letter-spacing: 5px;
  padding-bottom: 10vh;
}
.contactsMain .contactsMain__asideArticle .asideArticle__aside {
  margin-top: 3vh;
}
.contactsMain .contactsMain__asideArticle .aside_title {
  font-weight: 800;
  padding-bottom: 1vh;
}
.contactsMain .contactsMain__menuArticle {
  border: 1px solid #9400D3;
  -webkit-box-shadow: 1px 1px 3px 1px #64008f;
          box-shadow: 1px 1px 3px 1px #64008f;
  width: 40%;
  height: 65vh;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dbcbc3;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.contactsMain .contactsMain__menuArticle .menuArticle__title {
  width: 80%;
  letter-spacing: 2px;
  text-align: center;
  font-size: 2.5vh;
  line-height: 3vh;
  margin-top: 5%;
  height: 5%;
}
.contactsMain .contactsMain__menuArticle .menuArticle__form {
  width: 100%;
  height: 70%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contactsMain .contactsMain__menuArticle .menuArticle__form .menuArticle__input {
  width: 80%;
  height: 17%;
  border-radius: 15px;
  color: #dbcbc3;
  border: 1px solid rgba(148, 0, 211, 0.3137254902);
  padding: 2% 5%;
  font-size: 2vh;
  letter-spacing: 3px;
  background-color: transparent;
}
.contactsMain .contactsMain__menuArticle .menuArticle__form .radioInputSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  margin-top: -5%;
}
.contactsMain .contactsMain__menuArticle .menuArticle__form .radioInputSection .radioInputSection__input {
  width: 5%;
  margin-right: 2%;
  border: none;
}
.contactsMain .contactsMain__menuArticle .menuArticle__btn {
  width: 80%;
  height: 8%;
  margin: 0 auto;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 2vh;
  letter-spacing: 5px;
  color: #dbcbc3;
  background: rgb(2, 0, 36);
  background: linear-gradient(34deg, rgba(2, 0, 36, 0.1167060574) 25%, rgb(148, 0, 211) 100%);
}