footer {
  width: 100%;
  padding: 3% 0%;
  height: 45vh;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(6, 6, 6, 0.947);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
footer .footer__navBlock {
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-height: 70%;
}
footer .footer__navBlock .navBlock__hotLine {
  min-width: 40%;
  height: 100%;
}
footer .footer__navBlock .navBlock__hotLine .hotLine__logo {
  height: 45%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1vh;
}
footer .footer__navBlock .navBlock__hotLine .hotLine__aside {
  font-family: "Poppins", sans-serif;
  color: #9400D3;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 2vh;
  line-height: 2vh;
}
footer .footer__navBlock .navBlock__hotLine .hotLine__aside .hotLine__title {
  color: #8C8C8C;
  font-size: 1.7vh;
  line-height: 4.5vh;
}
footer .footer__navBlock .navBlock__hotLine .hotLine__aside .hotLine__description {
  font-size: 1.2vh;
  color: rgba(161, 161, 161, 0.3568627451);
}
footer .footer__navBlock .navBlock__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 45%;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  white-space: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__asideInfo {
  padding: 0 5%;
  border-top: 1px solid hsla(0, 0%, 100%, 0.35);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.35);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 25%;
  color: hsla(0, 0%, 100%, 0.35);
}
footer .footer__asideInfo .asideInfo__follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 25%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__asideInfo .asideInfo__follow .asideInfo__nav {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer:hover .footer__asideInfo {
  background: linear-gradient(50deg, rgba(6, 6, 6, 0.947), rgba(148, 0, 211, 0.4196078431));
  background-size: 700% 400%;
  -webkit-animation: gradientAnimation 5s forwards infinite;
          animation: gradientAnimation 5s forwards infinite;
}