.catalogItemCard {
  width: 32%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5vh;
  font-size: 1.7vh;
  line-height: 2.5vh;
  letter-spacing: 2px;
  border-radius: 10px;
  margin-right: 1%;
  padding: 0 0.5vw 1.5vh 0.5vw;
  font-weight: 300;
}
.catalogItemCard .catalogItemCard__img {
  min-height: 52%;
  min-width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}
.catalogItemCard .catalogItemCard__title {
  font-weight: 500;
  font-size: 1.8vh;
  text-align: center;
  margin-bottom: 2vh;
}
.catalogItemCard .catalogItemCard__List {
  min-height: 25%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: scroll;
}
.catalogItemCard li {
  list-style: none;
}
.catalogItemCard .textStrong {
  color: #bd15ff;
  font-weight: 500;
}
.catalogItemCard .list__size {
  border: 1.5px solid purple;
  padding: 0 4px;
  margin-right: 0.5vw;
  border-radius: 5px;
}

.catalogItemCard:hover {
  -webkit-animation: catalogItemCardHover 0.5s forwards alternate;
          animation: catalogItemCardHover 0.5s forwards alternate;
}

@-webkit-keyframes catalogItemCardHover {
  100% {
    background-color: rgba(255, 255, 255, 0.0588235294);
    -webkit-box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.406);
            box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.406);
  }
}

@keyframes catalogItemCardHover {
  100% {
    background-color: rgba(255, 255, 255, 0.0588235294);
    -webkit-box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.406);
            box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.406);
  }
}